.layout-sidebar {
	position: fixed;
	max-width: 250px;
	height: 100%;
	z-index: 999;
	overflow-y: auto;
	user-select: none;
	//transition: transform $transitionDuration;
	transition: width .5s;
	overflow-x:hidden;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);

	&.layout-sidebar-enter-from,
	&.layout-sidebar-leave-to {
		transform: translateX(-100%);
	}

	.fixed_icon{
		display: none;
	}

	.layout-logo {
		text-align: center;
		margin-top: 24px;
		.text_enu{
			color: #fff;
			font-size: 24px;
		}
		a{
			width: fit-content!important;
			padding: 0 1em;
			height: 20px;
		}
		h2{
			margin: 0;
			display: none;
		}
	}
	.layout-profile{
		.round{
			border-radius: 100px;
			box-shadow: 0 0 0 1px #2196f3, 0 0 13px #333;
		}
		img{
			width: 35px;
			height: 35px;
			transition: .5s ease-out;
		}
		.layout-profile-link{
			display: none;
		}
		ul li .p-link {
			padding-left: 2.3em;
		}
		ul li .p-link span{
			display: none;
		}
	}

	.menuitem-badge {
		display: inline-block;
		margin-left: 4px;
		font-size: 10px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		color: $menuitemBadgeColor;
		background-color: $menuitemBadgeBgColor;
		border-radius: 50%;
	}
	.layout-menu{
		a{
			padding-left: 2.3em;
		}
		li ul a{
			padding-left: 10px;
		}
		span{
			display: none;
		}
		.menuitem-toggle-icon{
			display: none;
		}
	}
}
.layout-sidebar::-webkit-scrollbar{
	width: 7px;
	max-height: 150px;
}
.layout-sidebar::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.3);
}
.layout-sidebar::-webkit-scrollbar-thumb{
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}
.hide_items{
	.fixed_icon{
		cursor: pointer;
		display: block;
		margin-right: 1em;
		margin-top: 1em;
	}
	.layout-logo {
		.text_enu{
			display: none;
		}
		h2{
			display: block;
			width: fit-content;
			transition: width .3s;
		}
	}
	.layout-profile{
		.round{
			box-shadow: 0 0 0 3px #2196f3, 0 0 13px #333;
		}
		img{
			width: 55px;
			height: 55px;
		}
		.layout-profile-link{
			display: inline-flex;
			justify-content: center;
			opacity: 0;
			white-space: nowrap;
			overflow: hidden;
			animation: appear 1s forwards;
		}
		ul li .p-link span{
			display: inline;
		}
	}
	.layout-menu{
		li ul a{
			padding-left: 2.3em;
		}
		span{
			display: block;
			opacity: 0;
			overflow: hidden;
			animation: appear 1s forwards;
		}
		@keyframes appear {
			from {
				width: 0;
			}
			to {
				width: 100%;
				opacity: 1;
			}
		}
		.menuitem-toggle-icon{
			display: block;
		}
	}
}